{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
  },
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "no-console": ["off", { allow: ["warn", "error"] }],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "react/no-danger": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", "never"],
    "jsx-a11y/href-no-hash": "off"
  },
  "globals": {
    "React": true,
    "_": true,
    "PropTypes": true,
    "System": true,
    "axios": true
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ]
}
