.preloader
  size: 100px
  background-image: url('./loader.svg')
  margin: 0 auto
  position: relative
  &.isSmall
    size: 60px
  &.isAbsolute
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
