.item
  background-color: #fff
  padding: 10px
.date
  font-size: .8em
  color: $blueDark
.icon
  width: 90%
  background-repeat: no-repeat
  background-position: center
  background-size: contain
  &::before
    content: ''
    display: block
    width: 100%
    padding-bottom: 90%
.t
  text-align: center
