@font-face
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 400
  src: url('./files/Ubuntu-Regular.woff') format('woff')

@font-face
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 500
  src: url('./files/Ubuntu-Medium.woff') format('woff')

@font-face
  font-family: 'Ubuntu'
  font-style: normal
  font-weight: 700
  src: url('./files/Ubuntu-Bold.woff') format('woff')
