.button
  width: 30px
  height: 30px
  border-radius: 50%
  color: #fff
  font-size: 1.2em
  border: 1px solid transparent
  outline: none
  background-color: transparent
  &.green
    border: 1px solid $green
    color: $green
  &.red
    border: 1px solid $red
    color: $red
