.item
  padding: 20px
  border-bottom: 1px solid $gray
  cursor: pointer
  display: flex
  justify-content: space-between
  &:hover
    background-color: $light
.t
  font-size: 1.2em
  color: $blue
  margin-left: 10px
